[submodule "ai-dev-standards"]
	path = ai-dev-standards
	url = git@github.com:hamirilo/ai-dev-standards.git
[submodule "ai-dev-playbook"]
	path = ai-dev-playbook
	url = git@github.com:hamirilo/ai-dev-playbook.git
